
<%= form_for(resource, as:         resource_name, url: session_path(resource_name),
                     html:         { class: 'form-signin' }) do |f| %>
          <span id="reauth-email" class="reauth-email"></span>
  <div class="form-group">
    <label class="text-normal text-dark">Email</label>
            <%= f.email_field :email,
                              class:        'form-control',
                              required:     'required',
                              autocomplete: 'off'
            %>
  </div>

  <div class="form-group">
    <label class="text-normal text-dark">Password</label>
    <%= f.password_field :password,
                         class:        'form-control',
                         required:     'required',
                         autocomplete: 'off'
    %>
  </div>

  <div class="form-group">
    <div class="peers ai-c jc-sb fxw-nw">
      <div class="peer">
        <% if devise_mapping.rememberable? %>
          <div class="checkbox checkbox-circle checkbox-info peers ai-c">
            <input type="checkbox" id="inputCall1" name="inputCheckboxesCall" class="peer">
            <label for="inputCall1" class=" peers peer-greed js-sb ai-c">
              <span class="peer peer-greed">Remember Me</span>
            </label>
            <div id="remember" class="checkbox session-font"></div>
          </div>
        <% end %>
      </div>
      <div class="peer">
        <%= f.submit 'Log in', class: 'btn btn-primary' %>
      </div>
    </div>
  </div>
<% end %>

<div class="row">
  <div class="col">
    <p class="text-muted">
      Not a member? <%= link_to 'Sign up', new_user_registration_path %> for
      an account!
    </p>
  </div>
</div>

