
<div class="row">
  <div class="col">

<%= form_for(@user, url: registration_path(@user),
             html:       { class: 'form-signup' }) do |f| %>

      <span id="reauth-email" class="reauth-email"></span>

      <div class="form-group">
        <%= f.label :first_name, 'First Name', class: 'text-normal text-dark' %>
        <%= f.text_field :first_name,
                         class:        'form-control',
                         required:     'required',
                         autocomplete: 'off',
                         autofocus:    true
        %>
      </div>

      <div class="form-group">
        <%= f.label :last_name, 'Last Name', class: 'text-normal text-dark' %>
        <%= f.text_field :last_name,
                         class:        'form-control',
                         required:     'required',
                         autocomplete: 'off'
        %>
      </div>

      <div class="form-group">
        <%= f.label :email, 'Email', class: 'text-normal text-dark' %>
        <%= f.email_field :email,
                          class:        'form-control',
                          required:     'required',
                          autocomplete: 'off'
        %>
      </div>

      <div class="form-group">
        <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %>
        <%= f.label :password, 'Password', class: 'text-normal text-dark' %>
        <%= f.password_field :password,
                             class:        'form-control',
                             required:     'required',
                             autocomplete: 'off'
        %>
      </div>

      <div class="form-group">
        <%= f.label :password_confirmation, 'Confirm your password', class: 'text-normal text-dark' %>
        <%= f.password_field :password_confirmation,
                             class:        'form-control',
                             required:     'required',
                             autocomplete: 'off'
        %>
      </div>

  <div class="form-group">
        <%= f.submit 'Sign up!', class: 'btn btn-primary' %>
  </div>
<% end %>

  </div>
</div>

<div class="row">
  <div class="col">
    <br>
    <p class="text-muted">
      Already a member? <%= link_to 'Log in', new_user_session_path %> to your
      account
    </p>
  </div>
</div>

