<% content_for :title do %>
  <%= @project.title %>
  | <%= @entity_type_attribute.persisted? ? "Edit" : 'Add new' %> placeholder
<% end %>

<% content_for :sub_section_title do %>
  <%= @entity_type_attribute.persisted? ? "Edit" : 'Add new' %> placeholder
<% end %>

<%= render partial: 'app/ui/projects/sidebar',
           locals: {
               sub_menu_items: [@project.title],
               show_section_actions: @project.persisted? ? true : false,
           }
%>




<div class="row">
  <div class="col-12 col-lg-8">
    <div class="bxshd bgc-white p-20 bd">
      <div class="">
        <%= form_for [@project, @entity_type, @entity_type_attribute] do |f| %>

          <div class="form-group">
            <%= f.label :name, 'Name' %>
            <%= f.text_field :name, class: 'form-control', required: 'required' %>
          </div>
          <br>

          <div class="form-group">
            <%= f.label :var_name, 'Tag' %>
            <%= f.text_field :var_name, class: 'form-control', required: 'required' %>
          </div>
          <br>
          <br>

          <div class="form-group row">
            <div class="col-12">
              <%= f.submit 'Save', class: 'btn btn-primary col-12 col-md-2 mb-3' %>
              <%= link_to 'Cancel',
                          [@project, @entity_type],
                          class: 'btn btn-danger col-12 col-md-2 mb-3' %>
            </div>
          </div>
        <% end %>
      </div>
    </div>

  </div>
</div>


<% if false %>
  quick add
  <%= form_tag "/projects/#{@project.id}/entity_types/#{@entity_type.id}/entity_type_attributes", method: 'post', class: '' do %>
    <p>
      <%= label_tag :attributes_string, 'Fields' %>
      <%= text_field_tag :attributes_string %>
    </p>

    <p><%= button_tag 'Save', class: '' %></p>

    <p><%= link_to 'Cancel', @project %></p>

  <% end %>
<% end %>


