<li class="nav-item">
  <a href="<%= menu_link %>" class="<%= active ? '' : 'c-grey-800'  %> nav-link cH-blue-500 ">
    <%#= active %>
    <div class="peers ai-c jc-sb">
      <div class="peer peer-greed">
        <i class="mR-10 <%= icon %>"></i>
        <span><%= title %></span>
      </div>
      <div class="peer">
        <span class="badge badge-pill bgc-blue-50 c-blue-700"><%= badge_text %></span>
      </div>
    </div>
  </a>
</li>
