
<!-- #Left Sidebar ==================== -->
<div class="sidebar">
  <div class="sidebar-inner">
    <!-- ### $Sidebar Header ### -->
    <div class="sidebar-logo">
      <div class="peers ai-c fxw-nw">
        <div class="peer peer-greed">
          <a class="sidebar-link td-n" href="/">
            <div class="peers ai-c fxw-nw">
              <div class="peer">
                <div class="logo">
<!--                  <img src="assets/static/images/logo.png" alt="">-->
                  <%= image_tag 'logo.png', size: '64x64' %>
                </div>
              </div>
              <div class="peer peer-greed">
                <h5 class="lh-1 mB-0 logo-text" style="font-size: 2rem;">
                  <%= render partial: 'app/ui/app_name' %>
                </h5>
             </div>
            </div>
          </a>
        </div>
        <div class="peer">
          <div class="mobile-toggle sidebar-toggle">
            <a href="" class="td-n">
              <i class="ti-arrow-circle-left"></i>
            </a>
          </div>
        </div>
      </div>
    </div>

    <!-- ### $Sidebar Menu ### -->
    <ul class="sidebar-menu scrollable pos-r">

      <% if false %>
      <li class="nav-item mT-30 actived">
        <a class="sidebar-link" href="<%= root_path %>">
                <span class="icon-holder">
                  <i class="c-blue-500 ti-home"></i>
                </span>
          <span class="title">Dashboard</span>
        </a>
      </li>
      <% end %>


      <li class="nav-item mT-30 <%= 'actived' if false %>">
        <a class='sidebar-link' href="<%= projects_path %>">
                <span class="icon-holder">
                  <i class="c-brown-500 ti-folder"></i>
                </span>
          <span class="title">Documents</span>
        </a>
      </li>


      <li class="nav-item">
        <a class='sidebar-link' href="/settings">
                <span class="icon-holder">
                  <i class="c-brown-500 ti-settings"></i>
                </span>
          <span class="title">Settings</span>
        </a>
      </li>

      <li class="nav-item">
        <a class='sidebar-link' href="/help">
                <span class="icon-holder">
                  <i class="c-brown-500 ti-help-alt"></i>
                </span>
          <span class="title">Help</span>
        </a>
      </li>

    </ul>
  </div>
</div>


