<!--<div class="<%#= 'pos-a' unless boxed %> t-0 l-0 w-100 h-100 d-f fxd-r fxw-w ai-c jc-c pos-r p-30">-->
<div class="t-0 l-0 w-100 h-100 d-f fxd-r fxw-w ai-c jc-c pos-r p-30">
  <% if img %>
    <div class="mR-60">
      <%= image_tag img, alt: '', height: '256px', width: '256px' %>
    </div>
  <% end %>

  <div class="d-f jc-c fxd-c">
    <h1 class="mB-30 fw-900 lh-1 c-red-500" style="font-size: 60px;"><%= lg_message %></h1>
    <h3 class="mB-10 fsz-lg c-grey-900"><%= md_message %></h3>
    <p class="mB-30 fsz-def c-grey-700">
      <%= sm_message %>
    </p>

    <% if button_text %>
      <div>
        <a href="<%= button_link %>" type="primary" class="btn btn-primary">
          <%= button_text %>
        </a>
      </div>
    <% end %>

  </div>
</div>
