<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">

<%= csrf_meta_tags %>
<%= csp_meta_tag %>

<title><%= render partial: 'app/ui/app_name' %> - <%= yield :title %></title>

<!-- Bootstrap core CSS -->
<%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

<%#= stylesheet_pack_tag 'application', media: 'all' %>
<%#= javascript_pack_tag 'application' %>
