
<!-- ### $Topbar ### -->
<div class="header navbar">
  <div class="header-container">
    <ul class="nav-left">
      <li>
        <a id='sidebar-toggle' class="sidebar-toggle" href="javascript:void(0);">
          <i class="ti-menu"></i>
        </a>
      </li>
      <li class="search-box">
        <a class="search-toggle no-pdd-right" href="javascript:void(0);">
          <i class="search-icon ti-search pdd-right-10"></i>
          <i class="search-icon-close ti-close pdd-right-10"></i>
        </a>
      </li>
      <li class="search-input">
        <input class="form-control" type="text" placeholder="Search...">
      </li>
    </ul>
    <ul class="nav-right">
      <li class="notifications dropdown">
<!--        <span class="counter bgc-red">3</span>-->
        <a href="" class="dropdown-toggle no-after" data-toggle="dropdown">
          <i class="ti-bell"></i>
        </a>

        <ul class="dropdown-menu">
          <li class="pX-20 pY-15 bdB">
            <i class="ti-bell pR-10"></i>
            <span class="fsz-sm fw-600 c-grey-900">Notifications</span>
          </li>
          <li class="pX-20 pY-15 ta-c bdT">
                    <span>
                      <a href="#" class="c-grey-600 cH-blue fsz-sm td-n">No new notifications
<!--                        <i class="ti-angle-right fsz-xs mL-10"></i>-->
                      </a>
                    </span>
          </li>
        </ul>
      </li>
      <li class="notifications dropdown">
<!--        <span class="counter bgc-blue">3</span>-->
        <a href="" class="dropdown-toggle no-after" data-toggle="dropdown">
          <i class="ti-email"></i>
        </a>

        <ul class="dropdown-menu">
          <li class="pX-20 pY-15 bdB">
            <i class="ti-email pR-10"></i>
            <span class="fsz-sm fw-600 c-grey-900">Messages</span>
          </li>
          <li class="pX-20 pY-15 ta-c bdT">
                    <span>
                      <a href="#" class="c-grey-600 cH-blue fsz-sm td-n">No new messages<i class="fs-xs ti-angle-right mL-10"></i></a>
                    </span>
          </li>
        </ul>
      </li>
      <li class="dropdown">
        <a href="" class="dropdown-toggle no-after peers fxw-nw ai-c lh-1" data-toggle="dropdown">
          <div class="peer mR-10">
<!--            <img class="w-2r bdrs-50p" src="https://randomuser.me/api/portraits/lego/1.jpg" alt="">-->
            <%= image_tag 'user.png', class: 'w-3r bdrs-50p', alt: 'user' %>
          </div>
          <div class="peer">
            <span class="fsz-sm c-grey-900"><%= current_user.full_name %></span>
          </div>
        </a>
        <ul class="dropdown-menu fsz-sm">
<!--          <li>-->
<!--            <a href="" class="d-b td-n pY-5 bgcH-grey-100 c-grey-700">-->
<!--              <i class="ti-settings mR-10"></i>-->
<!--              <span>Setting</span>-->
<!--            </a>-->
<!--          </li>-->
          <li>
            <a href="<%= user_path %>" class="d-b td-n pY-5 bgcH-grey-100 c-grey-700">
              <i class="ti-user mR-10"></i>
              <span>Account</span>
            </a>
          </li>
<!--          <li>-->
<!--            <a href="#" class="d-b td-n pY-5 bgcH-grey-100 c-grey-700">-->
<!--              <i class="ti-email mR-10"></i>-->
<!--              <span>Messages</span>-->
<!--            </a>-->
<!--          </li>-->
          <li role="separator" class="divider"></li>
          <li>
            <a href="<%= destroy_user_session_path %>"
               data-method="delete"
               class="d-b td-n pY-5 bgcH-grey-100 c-grey-700">
              <i class="ti-power-off mR-10"></i>
              <span>Logout</span>
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>

