<% content_for :title do %>
  Process document
<% end %>

<% content_for :sub_section_title do %>
  Process document
<% end %>

<%= render partial: 'app/ui/projects/sidebar',
           locals: {
               sub_menu_items: [@project.title],
               show_section_actions: false,
           }
%>


<div class="row">
  <div class="col-12 col-lg-8">
    <div class="bxshd bgc-white p-20 bd">

      <div>

        <%= form_for :operation, url: project_entity_type_operations_path(@project, @entity_type), html: {multipart: true} do |f| %>

          <div class="form-group">
            <%= f.label :operation_data_file, 'Upload Data File' %>
            <%= f.file_field :operation_data_file, class: 'form-control' %>
            <small>File containing processing data</small>
          </div>

          <br>

          <div class="form-group">
            <%= f.label :template_ids, 'Choose template(s)' %>
            <div class="form-check">
              <% @entity_type.templates.each do |template| %>
                <%= f.label :template_ids, class: 'form-check-label' do %>
                  <%= f.check_box :template_ids, {multiple: true, class: 'form-check-input'}, template.id, nil %>
                  <%= template.name %> (<%= template.file_name %>)
                <% end %>
                <br>
              <% end %>
            </div>
          </div>

          <br>

          <div class="form-group">
            <%= f.label :custom_filenames, 'Enable custom output filenames?' %>
            <span>
            <i class="c-brown-500 ti-help-alt"
               data-toggle="tooltip"
               data-placement="top"
               title="If set, data upload file must include a 'filename' column
               with the expected names of the output files."></i>
            </span>
            <br>
            <%= f.radio_button :custom_filenames, true, value: true %>
            <%= f.label :custom_filenames, "Yes" %>
            <br>

            <%= f.radio_button :custom_filenames, false, value: false %>
            <%= f.label :custom_filenames, "No" %>
          </div>
          <br>

          <div class="form-group">
            <%= f.label :notes, 'Notes' %>
            <%= f.text_area :notes, class: 'form-control' %>
            <small>Optional</small>
          </div>

          <br>

          <div class="form-group row">
            <div class="col-12">
              <%= f.submit 'Begin', class: 'btn btn-primary col-12 col-md-2 mb-3' %>
              <%= link_to 'Cancel', project_path(@project),
                          class: 'btn btn-danger col-12 col-md-2 mb-3' %>
            </div>
          </div>


        <% end %>

      </div>

    </div>
  </div>
</div>


<% if false %>

  <%= form_for :operation, url: project_entity_type_operations_path(@project, @entity_type), html: {multipart: true} do |f| %>

    <p>
      <%= f.label :template_id, 'Choose template(s):' %>
      <%= f.collection_check_boxes(:template_ids, @entity_type.templates.all, :id, :name) %>
    </p>

    <p>
      <%= f.label :operation_data_file, 'Upload entity data file:' %>
      <%= f.file_field :operation_data_file %>
    </p>


    <p><%= f.submit 'Start', class: '' %></p>

    <p><%= link_to 'Cancel', project_path(@project) %></p>

  <% end %>
<% end %>
