
<% if current_user %>
  <%= render partial: 'app/ui/projects/sidebar',
             locals:  {
                 sub_menu_items:       false,
                 show_section_actions: false,
             }
  %>

  <%= render partial: 'app/ui/empty_contents',
             locals:  {
                 lg_message:  '503',
                 md_message:  'Page unavailable',
                 sm_message:  'This page is currently under maintenance and will be online shortly',
                 button_text: 'Go to Home',
                 button_link: projects_path,
                 img:         asset_path('fixing.png'),
                 boxed:       false
             }
  %>
<% else %>
<!--  <div class='pos-a t-0 l-0 bgc-white w-100 h-100 d-f fxd-r fxw-w ai-c jc-c pos-r p-30'>-->
<!--    <div class='mR-60'>-->
<!--      <img alt='#' src='assets/static/images/404.png' />-->
<!--    </div>-->

    <div class='d-f jc-c fxd-c'>
      <h1 class='mB-30 fw-900 lh-1 c-red-500' style="font-size: 60px;">
        <%= @code %></h1>
      <h3 class='mB-10 fsz-lg c-grey-900'><%= @main %></h3>
      <p class='mB-30 fsz-def c-grey-700'> <%= @sub %> </p>
      <div>
        <a href="/" type='primary' class='btn btn-primary'>Go to Home</a>
      </div>
    </div>
<!--  </div>-->
<% end %>