<%= render partial: 'app/ui/projects/sidebar',
           locals:  {
               sub_menu_items:       false,
               show_section_actions: false,
           }
%>

<%= render partial: 'app/ui/empty_contents',
           locals:  {
               lg_message:  '503',
               md_message:  'Page unavailable',
               sm_message:  'This page is currently under maintenance and will be online shortly',
               button_text: 'Go to Home',
               button_link: projects_path,
               img:         asset_path('fixing.png'),
               boxed:       false
           }
%>