
<%= render partial: 'app/ui/projects/sidebar',
           locals: {
               sub_menu_items:       nil,
               show_section_actions: true,
           }
%>

<% content_for :title do %>
  All documents
<% end %>

<% content_for :sub_section_title do %>
  All documents
<% end %>


<% if @projects.present? %>

<div class="d-flex flex-row flex-wrap">
  <% @projects.each do |project| %>
    <div class="col-12 col-md-5 p-0 mr-0 mr-md-4 mb-4">

      <div class="p-3 bgc-white p-20 bd project-item bxshd">
<!--        <a class="td-n peers fxw-nw mR-20 peer-greed c-grey-900"-->
        <a class="td-n  fxw-nw mR-20 peer-greed c-grey-900"
           href="<%= project_path(project) %>">
          <div class="peer">
            <span class="lh-1"><%= project.title %></span>
            <div class="text-muted">
              <br>
              <%= project.description || '&nbsp;'.html_safe %>
            </div>
          </div>
        </a>
      </div>

    </div>
  <% end %>
</div>

<% else %>

  <%= render partial: 'app/ui/empty_contents',
             locals:  {
                 lg_message:  '',
                 md_message:  'No documents added...',
                 sm_message:  '',
                 button_text: 'Create Document',
                 button_link: new_project_path,
                 img:         asset_path('empty.png'),
                 boxed:       false
             }
  %>

<% end %>


