<%= render partial: 'app/ui/projects/sidebar',
           locals:  {
               sub_menu_items:       [@project.title],
               show_section_actions: @project.persisted? ? true : false,
           }
%>
<% content_for :title do %>
  <%= @project.persisted? ? "#{@project.title} | Edit" : 'Add new' %> document
<% end %>

<% content_for :sub_section_title do %>
  <%= @project.persisted? ? "Edit" : 'Add new' %> document
<% end %>

<div class="row">
  <div class="col-12 col-lg-8">
    <div class="bgc-white p-20 bd bxshd">
      <div  class="">
        <%= form_for @project do |f| %>
          <div class="form-group">
            <%= f.label :title, 'Title' %>
            <%= f.text_field :title, class: 'form-control', required: 'required' %>
          </div>
          <br>

          <div class="form-group">
            <%= f.label :description, 'Description' %>
            <%= f.text_area :description, class: 'form-control' %>
          </div>

          <br>
          <br>

          <div class="form-group row">
            <div class="col-12 col-md-6">
              <%= f.submit 'Save', class: 'btn btn-primary col-12 col-md-4 mb-3' %>
              <%= link_to 'Cancel',
                          @project.persisted? ? project_path(@project) : projects_path,
                          class: 'btn btn-danger col-12 col-md-4 mb-3' %>
            </div>
            <% if @project.persisted? %>
            <div class="col-12 col-md-6">
              <%= link_to 'Delete document',
                          project_path(@project),
                          method: :delete,
                          data: { confirm: 'Are you sure you want to delete this document?!' },
                          class: 'btn btn-outline-danger float-none float-md-right col-12' %>
            </div>
            <% end %>
          </div>
        <% end %>




      </div>
    </div>

  </div>
</div>



