<%= render partial: 'app/ui/projects/sidebar',
           locals: {
               sub_menu_items: [@project.title],
               show_section_actions: true,
           }
%>

<% content_for :title do %>
  <%= @project.title %>
<% end %>

<% content_for :sub_section_title do %>
  Document overview
<% end %>


<div class="row mb-3">
  <div class="col-12">
    <div class="bgc-white p-20 bd bxshd "><h6 class="lh-1 c-grey-800"><%= @project.title %></h6>
      <div class="mT-30">
        <%= @project.description %>

        <% unless @project.sole_entity_type %>
          <%= render partial: 'app/ui/empty_contents',
                     locals: {
                         lg_message: '',
                         md_message: 'Almost there...',
                         sm_message: 'Finish setting up this document by adding a data type and one or more templates.',
                         button_text: 'Add a data type',
                         button_link: new_project_entity_type_path(@project),
                         img: asset_path('almost.png'),
                         boxed: true
                     }
          %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<% if @project.sole_entity_type %>
  <div class="row">

    <div id="section-templates" class="col-12 mb-3">
      <div class="bxshd bgc-white p-20 bd">
        <h6 class="lh-1 c-grey-900">Templates</h6>

        <% templates = @project.sole_entity_type.templates %>
        <% if templates.present? %>
          <div class="row">
            <div class="col">
              <div class="table-responsive">
                <table class="table nbd">
                  <thead>
                  <tr>
                    <th class="bdwT-0 c-grey-900">Name</th>
                    <th class="bdwT-0 c-grey-900">Placeholders</th>
                  </tr>
                  </thead>
                  <tbody>
                  <% templates.each do |template| %>
                    <tr>
                      <td>
                        <i class="mR-10 ti-file"></i>
                        <%= template.name %>
                      </td>
                      <td>
                        <div style="min-height:80px;">
                          <% placeholders = template.registered_placeholders %>
                          <% if placeholders.present? %>
                            <% placeholders.each do |placeholder| %>
                              <i> <%= placeholder %> </i><br>
                            <% end %>
                          <% else %>
                            <i>No placeholders found</i>
                          <% end %>
                        </div>
                      </td>
                    </tr>
                  <% end %>
                  </tbody>
                </table>
              </div>
            </div>
          </div> <!--          row-->
        <% else %>
          <%= render partial: 'app/ui/empty_contents',
                     locals: {
                         lg_message: '1.',
                         md_message: 'Templates',
                         sm_message: 'Prepare and upload templates',
                         button_text: 'Add a template',
                         button_link: new_project_entity_type_template_path(
                             @project, @project.sole_entity_type),
                         img: nil,
                         boxed: true
                     }
          %>
        <% end %>

      </div>
    </div> <!--  section-templates-->

    <div id="section-placeholders" class="col-12">
      <div class="bxshd bgc-white p-20 bd">
        <h6 class="lh-1 c-grey-900">Placeholders</h6>

        <% if @project.sole_entity_type.placeholder_attributes.present? %>

          <div class="row">
            <div class="col">

              <div class="table-responsive">
                <table class="table nbd">
                  <thead>
                  <tr>
                    <th class="bdwT-0 c-grey-900">Name</th>
                    <th class="bdwT-0 c-grey-900">Tag</th>
                  </tr>
                  </thead>
                  <tbody>
                  <% @project.sole_entity_type.placeholder_attributes.each do |attribute| %>
                    <tr>
                      <td>
                        <i class="mR-10 ti-target"></i>
                        <%= attribute.name %></td>
                      <td><i><%= attribute.var_name %></i></td>
                    </tr>
                  <% end %>
                  </tbody>
                </table>
              </div>

            </div> <!--            col-->
          </div> <!--          row-->

        <% else %>

          <%= render partial: 'app/ui/empty_contents',
                     locals: {
                         lg_message: 2,
                         md_message: 'Placeholders',
                         sm_message: 'Specify placeholders in templates',
                         button_text: 'Add a placeholder',
                         button_link: new_project_entity_type_entity_type_attribute_path(
                             @project,
                             @project.sole_entity_type),
                         img: nil,
                         boxed: true,
                     }
          %>

        <% end %>

      </div>
    </div> <!--    section-placeholders-->


<% end %>
