<% content_for :section_title do %>
  Projects

  <% if false %>
    <% if sub_menu_items %>
      <% sub_menu_items.each do |title| %>
        <i class="ti-angle-right" style="font-size: small"></i>
        <span class="sub_menu"><%= title %></span>
      <% end %>
    <% end %>
  <% end %>

<% end %>

<% content_for :section_actions do %>
  <%#= params[:controller] %>

  <% unless edit_or_new_page? %>

    <% if show_section_actions %>
      <%= render partial: 'app/ui/sidebar/section_actions_begin' %>

      <% if @project %>
        <% if for?(:projects) %>
          <% if @project.persisted? %>
            <%= link_to 'Edit document',
                        edit_project_path(@project), class: 'btn btn-outline-primary btn-block' %>
          <% end %>
        <% end %>

        <% if @project.sole_entity_type %>
          <% template_count = @project.sole_entity_type.templates.count %>
          <% setup_complete = template_count > 0 && @project.sole_entity_type.placeholder_attributes.present? %>

          <!--        show button to add template on projects page if none added yet-->
          <% if for?(:projects) %>
            <% if setup_complete %>
              <%= link_to 'Process document',
                          new_project_entity_type_operation_path(
                              @project, @project.sole_entity_type),
                          class: 'btn cur-p btn-outline-success btn-block' %>
            <% end %>
          <% end %>

          <% if for?(:entity_types) %>

            <%= link_to "Add new placeholder",
                        new_project_entity_type_entity_type_attribute_path(
                            @project, @project.sole_entity_type),
                        class: 'btn btn-outline-primary btn-block' %>

            <!--
            <button type="button"
                    class="btn btn-outline-primary btn-block"
                    data-toggle="modal"
                    data-target="#attributeModal">
              Add Attribute
            </button>
            -->

            <%#= link_to "Edit Data Type",
                        edit_project_entity_type_path(@project, @project.sole_entity_type),
                        class: 'btn btn-outline-primary btn-block' %>

            <%#= link_to "Remove Data Type",
                      '#',
                      class: 'btn btn-danger btn-block' %>
          <% end %>

          <% if for?(:templates) %>
            <!--          show button to add template on templates page for only 3 templates -->
            <% if template_count < 3 %>
              <%= link_to 'Add new template',
                          new_project_entity_type_template_path(
                              @project, @project.sole_entity_type),
                          class: 'btn btn-outline-primary btn-block' %>
            <% else %>
              Maximum number of templates
              reached for the current plan.
              <!--              Upgrade to add more templates.-->
            <% end %>

          <% end %>

          <% if for?(:operations, :index) %>

            <%#= link_to 'Delete files',
                        '#', class: 'btn btn-outline-danger btn-block' %>
            <% unless setup_complete %>
              <span class="c-red-500">
              <i class="mR-10 ti-info-alt"></i>
                Complete document set up
            </span>
            <% end %>
          <% end %>

          <% if for?(:operations, :show) %>
            <%= link_to 'Download all documents',
                        project_entity_type_operation_downloads_path(
                            @project,
                            @operation.entity_type,
                            @operation,
                            template_ids: @operation.entities.first.selected_templates_from(@operation).all.map(&:id),
                            entity_ids: @operation.entities.map(&:id),
                            format: :zip,
                            output_type: 'file'
                        ),
                        method: :post,
                        class: 'btn btn-outline-primary btn-block' %>

            <%= link_to 'Export to single document',
                        project_entity_type_operation_downloads_path(
                            @project,
                            @operation.entity_type,
                            @operation,
                            template_ids: @operation.entities.first.selected_templates_from(@operation).all.map(&:id),
                            entity_ids: @operation.entities.map(&:id),
                            format: :zip,
                            output_type: 'text'
                            ),
                        method: :post,
                        class: 'btn btn-outline-primary btn-block' %>

            <%= link_to 'Delete batch',
                        project_entity_type_operation_path(
                            @project, @project.sole_entity_type, @operation),
                        method: :delete,
                        data: {confirm: 'Delete batch?'},
                        class: 'btn btn-outline-danger btn-block' %>




            <%#= link_to 'Delete batch',
                        project_entity_type_operation_path(
                            @project, @project.sole_entity_type, @operation),
                        method: :delete,
                        data: {confirm: 'Delete batch?'},
                        class: 'btn btn-outline-danger btn-block' %>

          <% end %>

        <% else %>

          <% if for?(:projects) %>
            <%# if @project.persisted? %>
            <%#= link_to 'Add data type',
                      new_project_entity_type_path(@project), class: 'btn btn-danger btn-block' %>
            <%# end %>
          <% end %>

        <% end %>

      <% else %>
        <% if for?(:projects) %>
          <%= link_to 'Add new document',
                      new_project_path,
                      class: 'btn btn-outline-primary btn-block' %>
        <% end %>
      <% end %>

      <% if for?(:users) %>
        <%= link_to 'Edit profile',
                    edit_user_path,
                    class: 'btn btn-outline-primary btn-block' %>
      <% end %>

      <%= render partial: 'app/ui/sidebar/section_actions_end' %>
    <% end %>

  <% end %> <!--  edit_or_new_page?-->

<% end %>


<%= content_for :section_menu do %>

  <% if sub_menu_items %>

    <% if @project && @project.sole_entity_type %>

      <p> <%= @project.title %> </p>

      <%= render partial: 'app/ui/sidebar/section_menu_item',
                 locals: {
                     title: 'Document overview',
                     menu_link: project_path(@project),
                     icon: 'ti-home',
                     badge_text: '',
                     active: for?(:projects, :show)
                 }
      %>

      <%= render partial: 'app/ui/sidebar/section_menu_item',
                 locals: {
                     title: 'Templates',
                     menu_link: project_entity_type_templates_path(@project, @project.sole_entity_type),
                     icon: 'ti-files',
                     badge_text: @project.sole_entity_type.try(:templates).try(:count) || '0',
                     active: for?(:templates)
                 }
      %>

      <%= render partial: 'app/ui/sidebar/section_menu_item',
                 locals: {
                     title: 'Placeholders',
                     menu_link: project_entity_type_path(@project, @project.sole_entity_type),
                     icon: 'ti-target',
                     badge_text: @project.sole_entity_type.try(:placeholder_attributes).try(:count) || '0',
                     active: for?(:entity_types)
                 }
      %>

      <%#= render partial: 'app/ui/sidebar/section_menu_item',
                 locals:  {
                     title:    'Records',
                   menu_link:  '#',
                   icon:       'ti-server',
                   badge_text: '',
                   active:     false
               }
      %>

      <%= render partial: 'app/ui/sidebar/section_menu_item',
                 locals: {
                     title: 'Generated files',
                     menu_link: project_entity_type_operations_path(@project, @project.sole_entity_type),
                     icon: 'ti-check-box',
                     badge_text: '',
                     active: for?(:operations)
                 }
      %>
      <li class="nav-item bdT my-2"></li>
    <% end %> <!--    project-->

  <% end %> <!--  sub_menu_items-->


  <%= render partial: 'app/ui/sidebar/section_menu_item',
             locals: {
                 title: sub_menu_items ? 'All documents' : 'All documents',
                 menu_link: projects_path,
                 icon: sub_menu_items ? 'ti-arrow-left' : 'ti-view-list-alt',
                 badge_text: '',
                 active: for?(:projects, :index)
             }
  %>

  <%#= render partial: 'app/ui/sidebar/section_menu_item',
             locals:  {
                 title:      'Help',
                 menu_link:  '/help',
                 icon:       'ti-help-alt',
                 badge_text: '',
                 active:     false
             }
  %>
<% end %>
