<%= render partial: 'app/ui/projects/sidebar',
           locals:  {
               sub_menu_items:       [@project.title],
               show_section_actions: @project.persisted? ? true : false,
           }
%>

<% content_for :title do %>
  <%= @project.title %>
<% end %>

<% content_for :sub_section_title do %>
  Editing <%= @project.title %>...
<% end %>

<div class="row">
    <div class="col-12 col-lg-8">
    <div class="bxshd bgc-white p-20 bd">
      <h6 class="c-grey-900">
        Data Type
      </h6>
      <div class="mT-30">

        <%= form_for [@project, @entity_type] do |f| %>
          <div class="form-group">
              <%= f.label :name, 'Name'%>
              <%= f.text_field :name, class: 'form-control', required: 'required' %>
          </div>

          <br>

          <div class="form-group row">
            <div class="col-sm-10">
              <%= f.submit 'Save', class: 'btn btn-primary' %>
              <% if @entity_type.persisted? %>
                <%= link_to 'Cancel', [@project, @entity_type], class: 'btn btn-danger' %>
              <% else %>
                <%= link_to 'Cancel', @project, class: 'btn btn-danger' %>
              <% end %>
            </div>
          </div>
        <% end %>


      </div>
    </div>

  </div>
</div>



