
<% content_for :title do %>
  <%= @project.title %> | Placeholders
<% end %>

<% content_for :sub_section_title do %>
  Placeholders
<% end %>

<%= render partial: 'app/ui/projects/sidebar',
           locals:  {
               sub_menu_items:       [
                                         @project.title,
                                         'Data Type',
                                         @entity_type.name
                                     ],

               show_section_actions: true,
           }
%>


<div class="row">

  <div class="col-12">


    <% if @entity_type.placeholder_attributes.present? %>
      <div class="bxshd bgc-white p-20 bd">
        <h6 class="c-grey-900">Placeholders</h6>

        <div class="row">
          <div class="col">

            <div class="table-responsive">
              <table class="table">
                <thead>
                <tr>
                  <th class="bdwT-0">Name</th>
                  <th class="bdwT-0">Tag</th>
                  <th class="bdwT-0"></th>
                  <th class="bdwT-0"></th>
                </tr>
                </thead>
                <tbody>
                <% @entity_type.placeholder_attributes.order(id: 'asc').each do |attribute| %>
                  <tr>
                    <td><%= attribute.name %></td>
                    <td>
                      <%= attribute.var_name %>
                    </td>
                    <td>
                      <%= link_to '<i class="ti-pencil" '\
                                  'data-toggle="tooltip" '\
                                  'data-placement="top" '\
                                  'title="Edit placeholder"></i>'.html_safe,
                                  edit_project_entity_type_entity_type_attribute_path(
                                      @project, @entity_type, attribute),
                                  class: 'td-n c-deep-purple-500 cH-blue-500 fsz-md p-5'
                      %>
                    </td>
                    <td>
                      <%= link_to '<i class="ti-trash" '\
                                  'data-toggle="tooltip" '\
                                  'data-placement="top" '\
                                  'title="Remove placeholder"></i>'.html_safe,
                                  project_entity_type_entity_type_attribute_path(
                                      @project, @entity_type, attribute),
                                  data:   { confirm: 'Are you sure you want to delete remove this placeholder?' },
                                  method: :delete,
                                  class:  'td-n c-red-500 cH-blue-500 fsz-md p-5'
                      %>
                    </td>

                  </tr>
                <% end %>
                </tbody>
              </table>
            </div>

          </div>
        </div>
      </div>
      </div>
          <% else %>
      <%#= render partial: 'app/ui/empty_contents',
                       locals:  {
                           lg_message:  '',
                           md_message:  'One more step...',
                           sm_message:  "Add attributes to finish setting up the #{@entity_type.name.upcase} data type",
                           button_text: 'Add Attribute',
                           button_link: new_project_entity_type_entity_type_attribute_path(@project, @entity_type),
                           img:         asset_path('fixing.png'),
                           boxed:       true
                       }
            %>


      <%= render partial: 'app/ui/empty_contents',
                 locals:  {
                     lg_message:  '',
                     md_message:  'No placeholders',
                     sm_message:  'Set the placeholders found in the templates provided',
                     button_text: 'Add a placeholder',
                     button_link: new_project_entity_type_entity_type_attribute_path(
                                      @project, @project.sole_entity_type),
                     img:         asset_path('empty.png'),
                     boxed:       false
                 }
      %>


          <% end %>



</div>

<% if false %>
  <!--temp modal to handle adding attribute, spread over EntityTypeController and EntityTypeAttributeControllers-->
  <div class="modal fade" id="attributeModal" tabindex="-1" role="dialog"
       aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">

        <!--      header-->
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add Attribute</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span></button>
        </div>

        <!--      body begin-->
        <div class="modal-body">

          <%= form_for [@project, @entity_type, @entity_type_attribute] do |f| %>
            <div class="form-group">
              <%= f.label :name, 'Name' %>
              <%= f.text_field :name, class: 'form-control', required: 'required' %>
            </div>

            <div class="form-group">
              <%= f.label :var_name, 'Template Placeholder' %>
              <%= f.text_field :var_name, class: 'form-control', required: 'required' %>
            </div>

            </div>

            <!--      footer-->
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <%= f.button 'Save', class: 'btn btn-primary' %>
          <% end %>
          </div>
          </div>
    </div>
  </div>
<% end %>
