// vars
$box-shadow-1: 0 20px 25px -5px rgba(0,0,0,.1),0 10px 10px -5px rgba(0,0,0,.04);
$box-shadow-3: rgba(179, 179, 179, 0.15) 0px 3px 12px 0px, rgba(0, 0, 0, 0.15) 0px 1px 2px 0px;
$box-shadow-4: rgba(0, 0, 0, 0.12) 0px 0px 0px 0.5px, rgba(0, 0, 0, 0.1) 0px 1px 4px 0px;

// styles
.sub_menu {
  color: #72777a;
}

.sub-section-heading {
  padding: 0 30px 20px;
}

.sub-section-content {
  padding: 0 30px 20px;
}

.nbd {
  border: none !important;
}

.table {
  color: #72777a !important;
  table-layout: fixed;
  over-flow: break-word;
  word-wrap: break-word;
}



.actived a {
  color: $default-info !important;
}

.form-check-label {
  //font-size: 12px !important;
}

.mh-360 {
  min-height: 360px !important;
}

.table th {
  font-weight: normal !important;
}

.project-item {
  height: 100px;
}


.bxshd {
  box-shadow: $box-shadow-3;
  -moz-box-shadow: $box-shadow-3;
  -webkit-box-shadow: $box-shadow-3;

  border-radius: .25rem;
  -moz-border-radius: .25rem;
  -webkit-border-radius: .25rem;

  border:0 !important;
}

.rounded {
  border-radius: .25rem;
  -moz-border-radius: .25rem;
  -webkit-border-radius: .25rem;
}


.btn {
  font-size: 0.75rem !important;
}

.list-group-item {
  border-color:rgba(0, 0, 0, 0.0625) !important;
}

.email-app .email-side-nav {
  height: 100%;
}
