<% content_for :title do %>
  Account Settings
<% end %>

<% content_for :sub_section_title do %>
  Account Settings
<% end %>

<%= render partial: 'app/ui/projects/sidebar',
           locals: {
               sub_menu_items: nil,
               show_section_actions: true,
           }
%>


<div class="row">

  <div class="col-12 col-md-8">
    <div class="bxshd bgc-white p-20 bd mh-360">
      <h6 class="lh-1 c-grey-800">Profile</h6>


      <div class="mT-30">
        <%= form_for(@user, :url => {:action => "update_password"}) do |f| %>
          <div class="form-group">
            <%= f.label :email, "Email" %><br/>
            <%= f.email_field :email,
                              class: 'form-control col-12 col-md-8',
                              disabled: true,
                              :autocomplete => "off" %>
          </div>
          <div class="form-group">
            <%= f.label :first_name, "First Name" %><br/>
            <%= f.text_field :first_name, class: 'form-control col-12 col-md-8', :autocomplete => "off" %>
          </div>
          <div class="form-group">
            <%= f.label :last_name, "Last Name" %><br/>
            <%= f.text_field :last_name, class: 'form-control col-12 col-md-8', :autocomplete => "off" %>
          </div>
          <div class="form-group">
            <%= f.label :password, "Password" %><br/>
            <%= f.password_field :password, class: 'form-control col-12 col-md-8', :autocomplete => "off" %>
          </div>
          <div class="form-group">
            <%= f.label :password_confirmation %><br/>
            <%= f.password_field :password_confirmation, class: 'form-control col-12 col-md-8' %>
          </div>
          <div class="form-group">
            <%= f.label :current_password %>
            <br>
            <small>
              <i>(current password is required to confirm changes)</i><br/>
            </small>
            <br>
            <%= f.password_field :current_password, class: 'form-control col-12 col-md-8' %>
          </div>
          <br>
          <br>
          <div class="form-group row">
            <div class="col-12">
              <%= f.submit 'Save', class: 'btn btn-primary col-12 col-md-2 mb-3' %>
              <%= link_to 'Cancel', user_path,
                          class: 'btn btn-danger col-12 col-md-2 mb-3' %>
            </div>
          </div>
        <% end %>
      </div>


    </div>
  </div>
</div>
