
<% content_for :title do %>
  Account Settings
<% end %>

<% content_for :sub_section_title do %>
  Account Settings
<% end %>

<%= render partial: 'app/ui/projects/sidebar',
           locals: {
               sub_menu_items: nil,
               show_section_actions: true
           }
%>

<div class="row">

<div class="col-12">
  <div class="bgc-white p-20 bd">
    <h6 class="lh-1 c-grey-800">Profile</h6>

    <div class="row mT-30">
      <div class="col">
        <p class="mb-0">Email</p>
        <p><%= @user.email %></p>
        <br>
        <p class="mb-0">Name</p>
        <p><%= @user.full_name %></p>

      </div>
    </div>
  </div>
</div>



</div>
