<% content_for :title do %>
  <%= @project.title %> | Templates
<% end %>


<% content_for :sub_section_title do %>
  Templates
<% end %>


<%= render partial: 'app/ui/projects/sidebar',
           locals: {
               sub_menu_items: [
                   @project.title,
                   'Templates',
               ],
               show_section_actions: true,
           }
%>


<% if @templates.present? %>

  <% @templates.order(id: 'asc').each do |template| %>
    <div class="row">
      <div class="col-12">
        <div class="bxshd bgc-white p-20 bd">
          <h6 class="lh-1 c-grey-900"><%= template.name %></h6>
          <div class="mT-20">

            <div class="row mb-2">
              <div class="col">
                <%= template.description %>
              </div>
            </div>
            <br>

            <div class="row mb-2">
              <div class="col-3 c-grey-900">File:</div>
              <div class="col-6"><%= template.file_name %></div>
            </div>

            <div class="row mb-2">
              <div class="col-3 c-grey-900"> Template content:</div>
              <div class="col-6"><%= template.text_only ? 'Text only' : 'Text & Other' %></div>
            </div>

            <div class="row mb-2">
              <div class="col-3 c-grey-900">Placeholders found:</div>
              <div class="col-6">
                <% all_placeholders = template.all_placeholders %>
                <% reg_placeholders = template.registered_placeholders %>

                <% if all_placeholders.present? %>
                  <% all_placeholders.each do |placeholder| %>
                    <p class="mb-1">
                      <% if reg_placeholders.include?(placeholder) %>
                        <%= placeholder %>
                      <% else %>
                      <span class="c-red-400"
                            data-toggle="tooltip"
                            data-placement="top"
                            title="This placeholder has not been added to
                                  the document's list of placeholders
                                  and will not be modified when document is processed.
                                  To enable processing, please add it under Placeholders section.
                                  ">
                        <%= placeholder %>
                      </span>
                      <% end %>
                    </p>


                  <% end %>

                <% else %>
                  No placeholders found
                <% end %>
              </div>
            </div>

            <br>
            <br>

            <div class="row mt-3">
              <div class="col-12">
                <%= link_to 'Edit template',
                            edit_project_entity_type_template_path(
                                @project, @entity_type, template
                            ),
                            class: 'btn btn-primary col-12 col-md-2 mb-3' %>

                <%= link_to 'Scan for placeholders',
                            project_entity_type_template_path(
                                @project, @entity_type, template, template: { name: template.name }
                            ),
                            method: :put,
                            class: 'btn btn-primary col-12 col-md-2 mb-3' %>

                <%= link_to 'Remove',
                            [@project, @entity_type, template],
                            method: :delete,
                            data: {confirm: 'Are you sure you want to delete this template?!'},
                            class: 'btn btn-outline-danger float-right col-12 col-md-2 mb-3' %>
              </div>

            </div>

          </div>
        </div>
      </div>
    </div>
    <br>
  <% end %>


<% else %>

  <%= render partial: 'app/ui/empty_contents',
             locals: {
                 lg_message: '',
                 md_message: 'No templates available',
                 sm_message: 'At least one template is needed to process documents',
                 button_text: 'Add a template',
                 button_link: new_project_entity_type_template_path(
                     @project, @entity_type),
                 img: asset_path('empty.png'),
                 boxed: false
             }
  %>

<% end %>
