<% content_for :title do %>
  <%= @project.title %> | <%= @template.persisted? ? "Edit" : 'Add new' %> template
<% end %>

<% content_for :sub_section_title do %>
  <%= @template.persisted? ? "Edit" : 'Add new' %> template
<% end %>

<%= render partial: 'app/ui/projects/sidebar',
           locals: {
               sub_menu_items: [@project.title],
               show_section_actions: false,
           }
%>

<div class="row">
  <div class="col-12 col-lg-8">
    <div class="bxshd bgc-white p-20 bd">

      <div class="">

        <%= form_for [@project, @entity_type, @template], multipart: true do |f| %>

          <div class="form-group">
            <%= f.label :name %>
            <%= f.text_field :name, class: 'form-control', required: 'required' %>
          </div>
          <br>

          <div class="form-group">
            <%= f.label :description %>
            <%= f.text_field :description, class: 'form-control' %>
          </div>
          <br>

          <div class="form-group">
            <%= f.label :template_file %>: <%= @template.file_name if @template.persisted? %>
            <%= f.file_field :template_file,
                             class: 'form-control',
                             required: @template.persisted? ? false : 'required'
            %>
          </div>
          <br>

          <div class="form-group">
            <%= f.label :text_only, 'Does template contain only text content?' %>
            <span>
            <i class="c-brown-500 ti-help-alt"
               data-toggle="tooltip"
               data-placement="top"
               title="Templates containing content other than text, such as images or tables cannot be
               exported to a single file. See documentation for more information."></i>
            </span>
            <br>
            <%= f.radio_button :text_only, true, value: true %>
            <%= f.label :text_only, "Yes" %>
            <br>

            <%= f.radio_button :text_only, false, value: false %>
            <%= f.label :text_only, "No" %>
          </div>

          <br>
          <br>

          <div class="form-group row">
            <div class="col-12">
              <%= f.submit 'Save', class: 'btn btn-primary col-12 col-md-2 mb-3' %>
              <%= link_to 'Cancel',
                          project_entity_type_templates_path(
                              @project, @entity_type),
                          class: 'btn btn-danger col-12 col-md-2 mb-3' %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<% if false %>
  <h3>Add Field</h3>
  <%= form_tag "/projects/#{@project.id}/entity_types/#{@entity_type.id}/templates", multipart: true do %>

    <p><%= label_tag :template_files, 'Template' %></p>

    <p><%= file_field_tag 'template_files[]', :multiple => true %></p>

    <p><%= file_field_tag 'template_files[]', :multiple => true %></p>

    <p><%= file_field_tag 'template_files[]', :multiple => true %></p>

    <p><%= button_tag 'Save', class: '' %></p>

    <p><%= link_to 'Cancel', @project %></p>

  <% end %>
<% end %>

