<!DOCTYPE html>
<html>
<head>

  <%= render partial: 'app/ui/header' %>

  <%= render 'application/favicon' %>



  <style>
    #loader {
      transition: all 0.3s ease-in-out;
      opacity: 1;
      visibility: visible;
      position: fixed;
      height: 100vh;
      width: 100%;
      background: #fff;
      z-index: 90000;
    }

    #loader.fadeOut {
      opacity: 0;
      visibility: hidden;
    }


    .spinner {
      width: 40px;
      height: 40px;
      position: absolute;
      top: calc(50% - 20px);
      left: calc(50% - 20px);
      background-color: #333;
      border-radius: 100%;
      -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
      animation: sk-scaleout 1.0s infinite ease-in-out;
    }

    @-webkit-keyframes sk-scaleout {
      0% {
        -webkit-transform: scale(0)
      }
      100% {
        -webkit-transform: scale(1.0);
        opacity: 0;
      }
    }

    @keyframes sk-scaleout {
      0% {
        -webkit-transform: scale(0);
        transform: scale(0);
      }
      100% {
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
        opacity: 0;
      }
    }
  </style>
</head>
<body class="app">
<!-- @TOC -->
<!-- =================================================== -->
<!--
  + @Page Loader
  + @App Content
      - #Left Sidebar
          > $Sidebar Header
          > $Sidebar Menu

      - #Main
          > $Topbar
          > $App Screen Content
-->

<!-- @Page Loader -->
<!-- =================================================== -->
<div id='loader'>
  <div class="spinner"></div>
</div>

<script>
    document.addEventListener('turbolinks:load', () => {
    //     $(document).ready(function(){
        const loader = document.getElementById('loader');
        setTimeout(function () {
            loader.classList.add('fadeOut');
        }, 300);
    });
</script>

<!-- @App Content -->
<!-- =================================================== -->
<div>
  <%= render partial: 'app/ui/sidebar/sidebar' %>

  <!-- #Main ============================ -->
  <div class="page-container">

    <%= render partial: 'app/ui/topbar' %>

    <!-- ### $App Screen Content ### -->
    <main class='main-content bgc-grey-100'>
      <div id='mainContent'>
        <div class="full-container bgc-grey-100">

          <% if false %>
            <h4 class="c-grey-900 pt-3 pb-4 pl-4 bdB mb-0 text-center">
              <%= yield :section_title %>
            </h4>
          <% end %>

          <div class="email-app">
            <div class="email-side-nav">
              <div class="h-100 layers">

                <%= yield :section_actions %>

                <div class="scrollable pos-r layer fxg-1">
                  <ul class="p-20 nav flex-column">
                    <%= yield :section_menu %>
                  </ul>
                </div>

              </div>
            </div>

            <div class="email-wrapper bgc-grey-100 p-20">

              <div class="row mt-5 mt-sm-0">

                <div class="col-12 sub-section-heading">
                  <div class="bgc-grey-100 peers ai-c jc-sb fxw-nw">
                    <div class="peer">
                      <div class="btn-group" role="group">
                        <button type="button" class="email-side-toggle d-n@md+ btn bgc-white bdrs-2 mr-3 cur-p">
                          <i class="ti-menu"></i>
                        </button>
                        <h4 class="c-grey-900">
                          <%= yield :sub_section_title %>
                        </h4>
                      </div>
                    </div>
                  </div>
                </div>


                <div class="col-12 sub-section-content">

                  <% if flash %>
                    <%= render partial: "app/ui/flash_messages", flash: flash %>
                  <% end %>

                  <div class="row">
                    <div class="col">
                      <%= yield %>
                    </div>
                  </div>
                </div>

              </div>

            </div>
          </div>


        </div>
      </div>
    </main>

    <!-- ### $App Screen Footer ### -->
<!--    <footer class="bdT ta-c p-30 lh-0 fsz-sm c-grey-600">-->
<!--      <span>Copyright © 2020 <%#= render partial: 'app/ui/app_name' %>. All rights reserved.</span>-->
<!--    </footer>-->
  </div>
</div>
</body>
</html>
