<!DOCTYPE html>
<html>
<head>

  <%= render partial: 'app/ui/header' %>

  <%= render 'application/favicon' %>

  <style>
    #loader {
      transition: all 0.3s ease-in-out;
      opacity: 1;
      visibility: visible;
      position: fixed;
      height: 100vh;
      width: 100%;
      background: #fff;
      z-index: 90000;
    }

    #loader.fadeOut {
      opacity: 0;
      visibility: hidden;
    }

    .spinner {
      width: 40px;
      height: 40px;
      position: absolute;
      top: calc(50% - 20px);
      left: calc(50% - 20px);
      background-color: #333;
      border-radius: 100%;
      -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
      animation: sk-scaleout 1.0s infinite ease-in-out;
    }

    @-webkit-keyframes sk-scaleout {
      0% {
        -webkit-transform: scale(0)
      }
      100% {
        -webkit-transform: scale(1.0);
        opacity: 0;
      }
    }

    @keyframes sk-scaleout {
      0% {
        -webkit-transform: scale(0);
        transform: scale(0);
      }
      100% {
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
        opacity: 0;
      }
    }
  </style>
</head>
<body class="app">
<div id='loader'>
  <div class="spinner"></div>
</div>

<script>
    document.addEventListener('turbolinks:load', () => {
    //     $(document).ready(function() {
        const loader = document.getElementById('loader');
        setTimeout(function () {
            loader.classList.add('fadeOut');
        }, 300);
    });
</script>
<div class="peers ai-s fxw-nw h-100vh">
  <div class="d-n@sm- peer peer-greed h-100 pos-r bgr-n bgpX-c bgpY-c bgsz-cv" style='background-image: url(<%= asset_path('bg.jpg') %>)'>
    <div class="pos-a centerXY">
      <div class="bgc-white bdrs-50p pos-r" style='width: 120px; height: 120px;'>
        <%= image_tag 'bg.jpg', class: 'pos-a centerXY', alt: '' %>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-3  peer pX-40 pY-80 h-100 bgc-white scrollable pos-r" style='min-width: 320px;'>

    <h4 class="fw-300 c-grey-900 mB-40">Welcome to <%= render partial: 'app/ui/app_name' %>!
    </h4>

    <% if notice %>
      <p class="alert alert-info"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>

    <br>

       <%= yield %>

  </div>
</div>
</body>
</html>
